@using RetailBankManagementSystem.ViewModels
@model CustomerAccDeleteModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .myformcontainer {
        display: flex;
        margin: auto;
        flex-direction: column;
        align-items: center;
        padding: 10px 10px;
        color: white;
        background-color: lavender;
        border-radius: 10px;
        box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109), 0 1px 1px rgba(128, 128, 128, 0.155), 0 2.1px 2.1px rgba(128, 128, 128, 0.195), 0 4.4px 4.4px rgba(128, 128, 128, 0.241), 0 12px 12px rgba(128, 128, 128, 0.35);
        */
    }

    .containers {
        height: 60px;
        margin-left: -150px;
        position: relative;
    }

    .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    h1 {
        margin-bottom: 5px;
    }
</style>

@if (TempData["account"] != null)
{
    <h4 class="text-center">Delete Customer</h4>
    <hr />
    <div class="row justify-content-center" style="margin:auto">
        <form class="myformcontainer">
            <table class="table table-borderless d-sm-table-cell table-sm">
                <tr>
                    <td>
                        <label style="font-weight:bold" asp-for="customer.CustomerID"></label>
                    </td>
                    <td>
                        @Model.customer.CustomerID
                        <input type="hidden" asp-for="customer.CustomerID" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label style="font-weight:bold" asp-for="customer.Name"></label>
                    </td>
                    <td>
                        @Model.customer.Name
                        <input type="hidden" asp-for="customer.Name" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label style="font-weight:bold" asp-for="customer.SSN"></label>
                    </td>
                    <td>
                        @Model.customer.SSN
                        <input type="hidden" asp-for="customer.SSN" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label style="font-weight:bold" asp-for="customer.Address"></label>
                    </td>
                    <td>
                        @Model.customer.Address
                        <input type="hidden" asp-for="customer.Address" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label style="font-weight:bold" asp-for="customer.City"></label>
                    </td>
                    <td>
                        @Model.customer.City
                        <input type="hidden" asp-for="customer.City" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label style="font-weight:bold" asp-for="customer.State"></label>
                    </td>
                    <td>
                        @Model.customer.State
                        <input type="hidden" asp-for="customer.State" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label style="font-weight:bold" asp-for="customer.Age"></label>
                    </td>
                    <td>
                        @Model.customer.Age
                        <input type="hidden" asp-for="customer.Age" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <br />
    <br />
    <div class="row justify-content-center"><span><p class="alert alert-danger " style="display:inline-flex"> Please Delete All Customer Associated Accounts To Delete The Customer</p></span></div>
    <br />
    <br />
    <div class="container">
        <table class="table table-bordered table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>Customer ID</th>
                    <th>AccountID</th>
                    <th>AccountStatus</th>
                    <th>AccountType</th>
                    <th>Balance</th>
                    <th>CreateDate</th>
                    <th>LastUpdated</th>
                    <th>Duration</th>
                    <th>Action</th>
                </tr>
            </thead>
            @foreach (Account account in Model.accounts)
            {
                <tr>
                    <td>@account.CustomerID</td>
                    <td> @account.AccountID</td>
                    <td> @account.AccountStatus</td>
                    <td> @account.AccountType</td>
                    <td> $@account.Balance</td>
                    <td> @account.CreateDate.ToString("MM/dd/yyyy")</td>
                    <td>@account.LastUpdated.ToString("MM/dd/yyyy")</td>
                    <td>@account.Duration</td>

                    <td>
                        @Html.ActionLink("Delete", "DeleteAccount", new { ID = @account.AccountID, flag = "true" })
                    </td>
                </tr>




            }
        </table>
    </div>

}
else
{
    <h4 class="text-center">Delete Customer</h4>
    <hr />
    <div class="row justify-content-center" style="margin:auto">
        <form asp-action="DeleteCustomer" class="myformcontainer">
            <table class="table table-borderless d-sm-table-cell">
                <tr>
                    <td>
                        <label style="font-weight:bold" asp-for="customer.CustomerID"></label>
                    </td>
                    <td>
                        @Model.customer.CustomerID
                        <input type="hidden" asp-for="customer.CustomerID" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label style="font-weight:bold" asp-for="customer.Name"></label>
                    </td>
                    <td>
                        @Model.customer.Name
                        <input type="hidden" asp-for="customer.Name" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label style="font-weight:bold" asp-for="customer.SSN"></label>
                    </td>
                    <td>
                        @Model.customer.SSN
                        <input type="hidden" asp-for="customer.SSN" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label style="font-weight:bold" asp-for="customer.Address"></label>
                    </td>
                    <td>
                        @Model.customer.Address
                        <input type="hidden" asp-for="customer.Address" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label style="font-weight:bold" asp-for="customer.City"></label>
                    </td>
                    <td>
                        @Model.customer.City
                        <input type="hidden" asp-for="customer.City" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label style="font-weight:bold" asp-for="customer.State"></label>
                    </td>
                    <td>
                        @Model.customer.State
                        <input type="hidden" asp-for="customer.State" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label style="font-weight:bold" asp-for="customer.Age"></label>
                    </td>
                    <td>
                        @Model.customer.Age
                        <input type="hidden" asp-for="customer.Age" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Confirm Delete" class="btn btn-danger" style="margin:auto" />
                        <a asp-controller="Executive" asp-action="SearchCustomer" style="margin:auto" class="btn btn-dark">Cancel</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
}
